<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">
    <span fxLayout="row column" fxLayoutGap="15px" fxLayoutAlign="start center">
        <img src="assets/starwars.png" class="icon">
        <h3>Star Wars</h3>
    </span>
    <button type="submit" (click)="cancelAdd()"
        mat-icon-button color="accent">
        <mat-icon>cancel</mat-icon>
    </button>
</mat-toolbar>

<form fxLayout="column row" fxLayoutGap="10px" 
    #form='ngForm' (ngSubmit)="save(form)">

    <mat-form-field>
        <input type="number" name="peopleId" min="1" max="88"  
            placeholder="Enter a number between 1 and 88" 
            required ngModel matInput>
        <mat-hint>
            See <a href="https://swapi.co" target="_blank">swapi.co</a>
        </mat-hint>
        <mat-error>
            Your number is invalid.
        </mat-error>
    </mat-form-field>
    
    <br><br>

    <div fxLayout="row column" fxLayoutAlign="end" fxLayoutGap="10px">
        <button type="reset" 
            mat-raised-button color="warn">
            Clear
        </button>

        <button type="submit" [disabled]="form.invalid"
            mat-raised-button color="primary">
            Save
        </button>
    </div>

</form>