<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">
    <span fxLayout="row column" fxLayoutGap="15px" fxLayoutAlign="start center">
        <img src="assets/starwars.png" class="icon">
        <h3>Star Wars</h3>
    </span>
    <button type="submit" (click)="goBackHome()"
        mat-icon-button color="accent">
        <mat-icon>cancel</mat-icon>
    </button>
</mat-toolbar>

<mat-card class="card">
            
  <mat-card-header>
  
    <mat-card-title>{{ char?.name }}</mat-card-title>
  
    <mat-card-subtitle>{{ char?.birthYear }}</mat-card-subtitle>
  
  </mat-card-header>
  
  <img mat-card-image [src] = "[ char?.image ]"/>
  
  <mat-card-content>
  
    <p>
  
      Birth Year: {{ char?.birthYear }} <br>
  
      Gender: {{ char?.gender}} <br>
  
      Mass: {{ char?.mass }} <br>
  
      Eye Color: {{ char?.eye_color}} <br>
  
      Height: {{ char?.height }}
  
    </p>
  
  </mat-card-content>
  
  <mat-card-actions>
  
    <button mat-raised-button color='warn' (click)="share()" [disabled]="!canshare">
      SHARE
    </button>
  
  </mat-card-actions>
  
</mat-card>