<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">
    <span fxLayout="row column" fxLayoutGap="15px" fxLayoutAlign="start center">
        <img src="assets/starwars.png" class="icon">
        <h3>Star Wars</h3>
    </span>
    <button type="submit" (click)="addPeople()"
        mat-icon-button color="accent">
        <mat-icon>add_circle</mat-icon>
    </button>
</mat-toolbar>

<mat-nav-list>
    <h2 mat-subheader>Characters</h2>

    <br>

    <div *ngFor="let char of people">
        
        <a mat-list-item  [routerLink]="['/detail', char.id]">
            {{ char.name }} ( {{ char.id }} )
        </a>

    </div>
</mat-nav-list>